@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  --blue-500: #3b82f6;
  --blue-400: #60a5fa;
  --blue-300: #93c5fd;
  --amber-200: #fde68a;
  --red-500: #ef4444;
  --gray-500: #6b7280;
  --white: #fff;
  --black: #020617;

  --h-1: 1.5rem;
  --w-1: 1.5rem;
  --h-2: 4rem;
  --w-2: 4rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  width: 100%;
  height: 100%;
  margin: 4rem auto 0;
  text-align: center;
}

#app header {
  height: 4rem;
  position: relative;
  margin: 0;
}

#app main {
  height: 40rem;
  position: relative;
}

#app footer {
  height: 5em;
  position: relative;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
